nav a {
    text-decoration: none;
    font-weight: 400;
}

nav a:hover {
    display: inline-block;
    border: solid 1px white;
    border-radius: 10px;
    background-color: rgba(56, 56, 57, 0.1);
    box-shadow: 2px 2px 1px 0.5px rgba(224, 224, 224, 0.7)
}

.Navlogo {
    font-weight: 700;
}

.CustomNav {
    margin-left: 10px;
    padding-left: 10px;
    
}
